@use '../abstracts/variables' as v;

//Font type
$font-family-base: system-ui, sans-serif;

body {
font-family: $font-family-base;
}


h1, .h1{
font-size: v.$font-size-lg;
font-weight: v.$font-weight-semibold;
color: v.$text-color-black;
}


h2, .h2{
    font-size: v.$font-size-md;
    font-weight: v.$font-weight-semibold;
    color: v.$text-color-black;
}
    
h3, .h3 {
    font-size: v.$font-size-base;
    font-weight: v.$font-weight-semibold;
    color: v.$text-color-black;
  }
  
h4, .h4 {
    font-size: v.$font-size-base;
    font-weight: v.$font-weight-medium;
    color: v.$text-color-gray;
  }

.text-medium {
    font-size: v.$font-size-base;
    font-weight: v.$font-weight-medium;
    color: v.$text-color-gray;
  }

.text-light {
    font-size: v.$font-size-sm;
    font-weight: v.$font-weight-light;
    color: v.$text-color-gray;
  }