@use '../abstracts/variables' as vars;

tr {
  width: 100%;
}

.base-table {
  width: 100%;
  border-collapse: collapse;

  & td {
     padding: vars.$spacing-padding-sm 0;
  }

  & th {
    padding-bottom: vars.$spacing-padding-sm;
  }

  & tbody tr:nth-child(even) {
    background-color: vars.$table-color-last;
  }

  & tbody tr:nth-child(odd) {
    background-color: vars.$table-color-first;
  }
}