@use '../abstracts/mixins' as mix;
@use '../abstracts/variables' as vars;

.carboost-table {
    &__filter {
        &-title {
        }
        
        &-icon {
            width: vars.$icon-size-md;
            fill: vars.$icon-color-tooltip;
        }
    }
    &__rows {
        & input {
            accent-color: #28a745;
            margin: 0 vars.$spacing-margin-xs 0 vars.$spacing-margin-xs;
        }
    }
    &__text {
        &--leftalign {
            text-align: left !important;
            margin-left: vars.$spacing-margin-xs;
        }

        &--center {
            text-align: center;
        }

        &-icon {
            width: vars.$icon-size-md;

            &--up {
                fill: vars.$icon-color-positive;
            }
            
            &--down, &-alert--red {
                fill: vars.$icon-color-negative;
            }

            &-alert--yellow {
                fill: vars.$icon-color-warning;
            }
        }
    }

    &__pagination {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-button {
            @include mix.buttons-pagination;
            margin-left: vars.$spacing-margin-sm;
        }
    }
}