@use '../abstracts/variables' as vars;


.carboost-graph{
    padding: vars.$spacing-padding-xs;
    border: vars.$border-width-xxs solid vars.$box-shaddow;
    border-radius: vars.$border-radius-md;
}