@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mix;

.notification {
    &-topbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__btn {
            all: unset;
            @include mix.buttons;
            background-color: vars.$btn-color-dark;
            width: 120px;
            height: vars.$height-sm;
            text-align: center;
        }
    }

    &-settings {
    display: flex;
    margin-top: vars.$spacing-margin-md;

        &__left {
            display: flex;
            flex-direction: column;
            gap: vars.$spacing-gap-lg;
            flex: 1;
            min-width: 0;
            margin-right: vars.$spacing-margin-xxxl;
        }

        &__right {
            flex: 1;
            min-width: 0;
        }

        &__section {

            &-group {
                display: flex;
                flex-direction: column;
                gap: vars.$spacing-gap-xs;
                margin-top: vars.$spacing-margin-sm;

                &__check {
                    display: flex;

                    & input {
                        accent-color: #28a745;
                    }
                }
            }
        }
    }
}



.regular {
    font-size: vars.$font-size-base;
    font-weight: vars.$font-weight-regular;
    color: vars.$text-color-gray;
    margin-right: vars.$spacing-margin-sm;
}

p, h4, h3 {
    margin: 0;
}