@use '../abstracts/variables' as vars;

.sale-table {
    &-title {
        width: vars.$width-lg;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &-name {
            width: 13.875rem;
        }
    }
    &__text {
        &--leftalign {
            text-align: left !important;
            margin-left: vars.$spacing-margin-xs;
        }
        &--center {
            text-align: center;
        }
    }
    &__tooltip {
        display: inline-flex;
        align-items: center;
        gap: vars.$spacing-gap-xs;
      }
}