@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mix;


.administration {
  display: flex;
  flex-direction: column;
  padding: vars.$spacing-padding-sm;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    @include mix.buttons-administration;
    margin-top: vars.$spacing-gap-md;
    display: flex;
    flex-direction: column;  
    justify-content: center; 
    align-items: center;
    gap: vars.$spacing-gap-xs;
    text-align: center;

    &-icon {
      width: vars.$icon-size-lg;
      height: vars.$icon-size-lg;
      flex-shrink: 0;
    }
  }
}