@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mix;

.carboost-view {
  height: 100%;
  display: flex;
  flex-direction: column;

    &__topbar {
        display: flex;
        justify-content: space-between;

        &-left {
            display: flex;
            flex-direction: column;
        }

        &-btn-wrapper{
            display: flex;
            gap: vars.$spacing-gap-sm;
        }

        &-btn {
            @include mix.buttons;
        }

        &-title {
            margin-bottom: vars.$spacing-margin-sm;
        }
    }
    &__filter {
        display: flex;
        flex-direction: row;
        margin: vars.$spacing-margin-sm 0 vars.$spacing-margin-lg 0;
        gap: vars.$spacing-gap-sm;
    }

    &__show-selected-customers {
        display: flex;
        flex-direction: column;
        gap: vars.$spacing-gap-sm;
    }
}