@use '../abstracts/variables' as vars;

.customer-changes {
    display: flex;
    flex-direction: column;
    gap: vars.$spacing-gap-md;
    width: 50%;

    &__content {
        margin-top: vars.$spacing-margin-xs;
    }
}