@use '../abstracts/variables' as vars;

.customer-changes {
    display: flex;
    flex-direction: column;
    gap: vars.$spacing-gap-md;
    width: 50%;
    height: 100%;

    &__content {
        margin-top: vars.$spacing-margin-xs;
        display: flex;
        flex-grow: 1;
    }

    &__text{
      display: flex;
      gap: vars.$spacing-gap-xs;
    }
}

html, body, #app {
  height: 100%;
}
