@use '../abstracts/variables' as vars;

.dashboard-view {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 18px;

    &__section {
        border: 0.0625rem solid vars.$border-color;
        border-radius: vars.$border-radius-sm;
        padding: vars.$spacing-padding-sm;
    }
}