
@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mix;

.login {
    display: flex;
    flex-direction: row;
    min-height: 100vh;

    &__right {
        flex: 0 0 50%;
        display: flex;
        flex-direction: column;
    }

    &__logo {
        width: vars.$width-xl;
        padding: vars.$spacing-padding-sm 0 vars.$spacing-padding-sm 0;
        margin-left: auto;
        padding-right: 24px;
    }

    &__blank {
        flex: 0 0 50%;
        background-color: vars.$btn-color-dark;
    }

    &__form {
        gap: vars.$spacing-gap-xxl;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;

        &-formular {
                display: flex;
                flex-direction: column;
                gap: vars.$spacing-gap-md;
                width: 100%;
                max-width: 22.5rem;

        }

        &-group {
                display: flex;
                flex-direction: column;
                gap: vars.$spacing-gap-xs;
                & p {
                    margin:0;
                    color: vars.$text-color-black;
                    text-align: center;
                }
            }

        &-input {
            display: flex;
            @include mix.input;
            gap: vars.$spacing-gap-md;
        }

        &-btn {
            all: unset;
            @include mix.buttons;
            background-color: vars.$btn-color-dark;
            text-align: center;
            margin-top: 1.5rem;
            width: 100%;
        }
    }
}
