@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mix;

.settings {
   display: flex;
   flex-direction: row;
   margin-top: vars.$spacing-margin-md;   


   &-topbar {
       display: flex;
       flex-direction: row;
       justify-content: space-between;

       &__btn {
           @include mix.buttons;

           &-spinner {
            border: 2px solid #f3f3f3;
            border-top: 2px solid vars.$primary-color-carads-dark;
            border-radius: 50%;
            width: 16px;
            height: 16px;
            animation: spin 1s linear infinite;
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
           }
       }
   }

   &-breadcrumbs {
       margin-top: vars.$spacing-margin-md;
   }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}