@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mix;


.sales-view {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__wrapper{
   display: flex;
   flex-direction: row;
   gap: vars.$spacing-gap-xs;
  }

  &__topbar {
    display: flex;
    justify-content: space-between;
  }

  &__buttons-wrapper {
    display: flex;
    flex-direction: row-reverse;
    gap: vars.$spacing-gap-sm;
  }

  &__filter-section {
    display: flex;
    gap: vars.$spacing-gap-sm;
    padding: vars.$spacing-padding-sm 0;
    
    &__selected {
      display: flex;
      justify-content: space-between;

      &-dropdowns {
        display: flex;
        gap: vars.$spacing-gap-sm;
      }
    }
  }

    &__controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: vars.$spacing-padding-sm vars.$spacing-padding-sm;
        border-bottom: vars.$border-width-xxs solid vars.$border-color;
    }

    &__button{
      appearance: none;
      border-style: solid;
      border-radius: vars.$border-radius-sm;
      background-color: vars.$bg-white;
      border: vars.$border-width-xxs solid vars.$border-color;
      padding: vars.$spacing-padding-xs;

        &:hover {
        border: vars.$border-width-xxs solid vars.$border-color;
        background-color: vars.$bg-light-gray;
        color: vars.$black;
      }
    }

    &__button-next,
    &__button-back,
    &__button-anonymize {
      @include mix.buttons;
    }
    
    &__button-anonymize {
      background-color: vars.$primary-color-carads-dark;
    }

  &__customer-list {
     border: vars.$border-width-xxs solid vars.$border-color;
     border-radius: vars.$border-radius-sm;
     width: 50%;

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: vars.$spacing-padding-xs vars.$spacing-padding-xs;
        gap: vars.$spacing-gap-xs;
        margin: 0;
        max-height: 25rem;
        overflow-y: auto;
    }
  }

  &__customer-item {
    padding: vars.$spacing-gap-xs vars.$spacing-gap-xs;

    &:hover{
      background-color:vars.$bg-ultra-light-gray ;
    }
  }

  &__pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-button {
        @include mix.buttons-pagination;
        margin-left: vars.$spacing-margin-sm;
    }
  }

  &__table-view {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}
