@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;


.SalesView {


  &__wrapper{
   display: flex;
   flex-direction: row;
   gap: v.$spacing-gap-xs;
  }

  &__topbar {
    display: flex;
    justify-content: space-between;

  }

  &__filter-section {
    display: flex;
    gap: v.$spacing-gap-sm

  }

    &__controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: v.$spacing-padding-sm v.$spacing-padding-sm;
        border-bottom: v.$border-width-xxs solid v.$border-color;

    }

    &__button{
      appearance: none;
      border-style: solid;
      border-radius: v.$border-radius-sm;
      background-color: v.$bg-white;
      border: v.$border-width-xxs solid v.$border-color;
      padding: v.$spacing-padding-xs;

      &:hover {
      border: v.$border-width-xxs solid v.$border-color;
      background-color: v.$bg-light-gray;
      color: v.$black;
  }

    }

    &__button-next{
      @include m.buttons;
    }
  &__customer-list {
     border: v.$border-width-xxs solid v.$border-color;
     border-radius: v.$border-radius-sm;
     width: 50%;

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: v.$spacing-padding-xs v.$spacing-padding-xs;
        gap: v.$spacing-gap-xs;
        margin: 0;
    }

    &--selected {

    }
  }

  &__customer-item {

 padding: v.$spacing-gap-xs v.$spacing-gap-xs;
    &:hover{
    background-color:v.$bg-ultra-light-gray ;
      
    }
   
  }
}
