@use '../../abstracts/variables' as vars;
@use '../../base/typography' as t;
@use '../icon' as i;

.sidebar {
  width: 216px; //hardcodet
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-right: vars.$border-width-xxs solid vars.$box-shaddow;


  &__top {
    display: flex;
    justify-content: space-between;
    padding: 0 vars.$spacing-padding-xs;
    border-bottom: vars.$border-width-xxs solid vars.$border-color;
    padding-left: vars.$spacing-gap-xs;

  }

  &__logo{
    width: vars.$width-xl;
    padding: vars.$spacing-padding-sm 0 vars.$spacing-padding-sm 0;
  }

  &__sectionwrapper{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__section {
    margin-bottom: vars.$spacing-margin-xl;
    padding-top: vars.$spacing-padding-xs;
  }

  &__titel{
    padding-left: vars.$spacing-gap-xs;
    padding-bottom: vars.$spacing-padding-xs;
  }

  &__item-wrapper {
    margin-bottom: vars.$spacing-margin-xs;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: vars.$spacing-padding-sm;
    border-left: vars.$border-width-xs solid transparent;

    &:hover {
      background-color: vars.$bg-light-gray;
    }
  }

  &__item--open {
    background: vars.$bg-ultra-light-gray;
    border-left: vars.$border-width-xs solid vars.$primary-color-carads-dark;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: vars.$spacing-gap-xs;
    flex-grow: 1;
    text-decoration: none;
  }

  &__dropdown {
    margin: 0;
    border-left: vars.$border-width-xs solid vars.$primary-color-carads-dark;
    background: vars.$bg-ultra-light-gray;
    display: flex;
    flex-direction: column; 
    gap: vars.$spacing-gap-xs; 
    
  }

  &__dropdown-item {
    margin: 0;
    padding: 0; 
  }

  &__dropdown-link {
    display: flex;
    width: 100%;
    padding: vars.$spacing-padding-sm;
    text-decoration: none;
    box-sizing: border-box;

    &:hover,
    &:active{
      background-color: vars.$bg-light-gray;
    }
  }

  &__dropdown-link--active {
  background-color: vars.$bg-light-gray;
}

  &__bottom {
    display: flex;
    align-items: center;
    border-top: vars.$border-width-xxs solid vars.$border-color;
    padding: vars.$spacing-gap-xs 0 vars.$spacing-gap-xs vars.$spacing-gap-xs;


    &-icon {
      background-color: vars.$bg-light-gray;
      height: vars.$width-md;
      width: vars.$width-md;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-userdetails {
      display: flex;
      flex-direction: column;
      margin: 0 0 0 vars.$spacing-margin-xs;
      gap: vars.$spacing-gap-xs;


      &-username {
      margin-bottom: vars.$spacing-margin-xs;
      }
    }
  }
}