@use '../../abstracts/mixins' as mix;
@use '../../abstracts/variables' as vars;

.notification-comp {
    position: absolute;
    top: 50px;
    left: 6px;
    display: flex;
    flex-direction: column;
    @include mix.input;
    background-color: vars.$bg-white;
    height: fit-content;
    max-height: 500px;
    width: fit-content;
    overflow-y: auto;
    z-index: 999;    
    padding: vars.$spacing-padding-xs;

    &__list {
        list-style: none;

        &-item {
            display: flex;
            flex-direction: row;
            padding: vars.$spacing-padding-xs 0;

            &:hover {
                background-color: vars.$bg-ultra-light-gray;
            }
        }

        &-icon {
            width: vars.$icon-size-md;

            &--green {
                fill: vars.$icon-color-positive;
            }

            &--red {
                fill: vars.$icon-color-negative;
            }

            &--yellow {
                fill: vars.$icon-color-warning;
            }
        }
    }

    &__line {
        height: vars.$spacing-margin-xxxs;
        background-color: vars.$bg-light-gray;
        margin: vars.$spacing-margin-xxs 0;
    }

    &__empty {
        padding: vars.$spacing-padding-xs 0;
        min-width: vars.$width-xxxxxl;
    }
}