@use '../../abstracts/variables' as vars;
@use '../../abstracts/mixins' as mix;

.conversion-data-budget {
    &__title {
        margin-bottom: vars.$spacing-margin-md;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: vars.$spacing-gap-sm;
        margin-top: vars.$spacing-margin-sm;

        &__box {
            border: 0.0625rem solid vars.$bg-ultra-light-gray;
            background-color: vars.$bg-ultra-light-gray;
            border-radius: vars.$border-radius-sm;
            padding: vars.$spacing-padding-md;

            &-name {
                text-align: center;
            }

            &-data {
                text-align: center;
            }

            &-description {
                text-align: center;
                font-weight: vars.$font-weight-semibold;
                font-size: vars.$font-size-sm;
                color: vars.$text-color-gray;
            }
        }

    }

}