@use '../../abstracts/variables' as vars;
@use '../../abstracts/mixins' as mix;

.latest-customer-changes {
    width: 100%;

    &__topbar {
        display: flex;
        justify-content: space-between;
        margin-bottom: vars.$spacing-margin-sm;

        &-btn {
            @include mix.buttons;
            align-items: center;
            background-color: vars.$btn-color-dark; 
            display: flex;
            height: vars.$height-sm;
            justify-content: center;
            text-align: center;
            width: vars.$width-xxxl;
        }
    }
    
    &__topbar-text{
        display: flex;
        gap: vars.$spacing-gap-xs;
    }
}

.recent-change {
    background-color: rgba(vars.$icon-color-positive, 0.2);
    border: 1px solid vars.$icon-color-positive;
}
