@use '../../abstracts/variables' as vars;
@use '../../abstracts/mixins' as mix;

.latest-customer-changes {
    width: 100%;
    &__topbar {
        display: flex;
        justify-content: space-between;
        margin-bottom: vars.$spacing-margin-md;

        &-btn {
            all: unset;
            background-color: vars.$btn-color-dark;
            height: vars.$height-sm;
            @include mix.buttons;
            text-align: center;
            width: vars.$width-xxxl;
        }
    }

    &__content {
        display: flex;

        &-names {
            display: flex;
            flex-direction: column;
            gap: vars.$spacing-gap-md;
        }

        &-dates {
            display: flex;
            flex-direction: column;
            gap: vars.$spacing-gap-md;
        }

        &-title {
            margin-bottom: vars.$spacing-margin-sm-minus;
        }
    }
}

.layout-space-between {
  justify-content: space-between;
}

.layout-gap {
  gap: vars.$spacing-gap-xxxl;
  justify-content: flex-start;
}