 @use '../../abstracts/variables' as vars;
@use '../../abstracts/mixins' as mix;

.dropdown {
    @include mix.input;
    display: flex;
    width: 168px;
    align-items: center;
    padding: 0 vars.$spacing-padding-xs 0 vars.$spacing-padding-xs;
    cursor: pointer;
    position: relative;
    justify-content: space-between;
    z-index: 999;
    
    p {
        color: vars.$text-color-gray;
    }

    &-icon {
        padding-left: vars.$spacing-padding-sm;
        width: vars.$icon-size-md;
        fill: vars.$text-color-gray;
    }

    &-options {
        position: absolute;
        @include mix.input;
        height: auto;
        list-style: none;
        padding: 0;
        margin: vars.$spacing-margin-xs 0 vars.$spacing-margin-sm 0;
        box-shadow: 0 2px 6px rgba(0,0,0,0.15);
        top: 100%;
        left: 0;
        width: 100%;
        color: vars.$text-color-gray;          
    }

    &-item {
        padding: vars.$spacing-padding-sm;
        cursor: pointer;

        &:hover {
            background: vars.$bg-light-gray;
        }

        &--disabled {
            color: vars.$bg-navigation-gray;
        }
    }
}