@use '../../abstracts/variables' as vars;
@use '../../abstracts/mixins' as mix;

.search-bar {
    @include mix.input;
    padding: 0 vars.$spacing-padding-xs 0 vars.$spacing-padding-xs;
    width: vars.$width-xxxl;
}