@use '../abstracts/variables' as v;
@use '../base/typography' as t;
@use '../components/icon' as i;


.sidebar {
  width: 216px; //hardcodet
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-right: v.$border-width-xxs solid v.$box-shaddow;


  &__top {
    display: flex;
    justify-content: space-between;
    padding: 0 v.$spacing-padding-xs;
    border-bottom: v.$border-width-xxs solid v.$border-color;
    padding-left: v.$spacing-gap-xs;

  }

  &__logo{
    width: v.$width-xxxxl;
    padding: v.$spacing-padding-sm 0 v.$spacing-padding-sm 0;
  }

  &__sectionwrapper{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__section {
    margin-bottom: v.$spacing-margin-xl;
    padding-top: v.$spacing-padding-xs;
  }

  &__titel{
    padding-left: v.$spacing-gap-xs;
    padding-bottom: v.$spacing-padding-xs;
  }

  &__item-wrapper {
    margin-bottom: v.$spacing-margin-xs;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: v.$spacing-padding-sm;
    border-left: v.$border-width-xs solid transparent;

    &:hover {
      background-color: v.$bg-light-gray;
    }
  }

  &__item--open {
    background: v.$bg-ultra-light-gray;
    border-left: v.$border-width-xs solid v.$primary-color-carads-dark;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: v.$spacing-gap-xs;
    flex-grow: 1;
    text-decoration: none;
  }

  &__dropdown {
    margin: 0;
    border-left: v.$border-width-xs solid v.$primary-color-carads-dark;
    background: v.$bg-ultra-light-gray;
    display: flex;
    flex-direction: column; 
    gap: v.$spacing-gap-xs; 
    
  }

  &__dropdown-item {
    margin: 0;
    padding: 0; 
  }

  &__dropdown-link {
    display: flex;
    width: 100%;
    padding: v.$spacing-padding-sm;
    text-decoration: none;
    box-sizing: border-box;

    &:hover,
    &:active{
      background-color: v.$bg-light-gray;
    }
  }

  &__dropdown-link--active {
  background-color: v.$bg-light-gray;
}

  &__bottom {
    display: flex;
    align-items: center;
    border-top: v.$border-width-xxs solid v.$border-color;
    padding: v.$spacing-gap-xs 0 v.$spacing-gap-xs v.$spacing-gap-xs;


    &-icon {
      background-color: v.$bg-light-gray;
      height: 46px; //hardcodet
      width: 46px; //hardcodet
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-userdetails {
      display: flex;
      flex-direction: column;
      margin: 0 0 0 v.$spacing-margin-xs;
      gap: v.$spacing-gap-xs;


      &-username {
      margin-bottom: v.$spacing-margin-xs;
      }
    }
  }
}