@use 'variables' as vars;

@mixin input {
    height: vars.$height-sm;
    border: vars.$border-width-xxs solid vars.$border-color;
    border-radius: vars.$border-radius-sm;
    color: vars.$text-color-gray;
    background-color: vars.$white;
    font-size: vars.$font-size-base;
}

@mixin buttons {
    height: vars.$height-sm;
    color: vars.$white;
    font-size: vars.$font-size-base;
    border-radius: vars.$border-radius-sm;
}

@mixin buttons-administration {
  appearance: none;
  border-style: solid;
  border-color: vars.$border-color;
  border-width: vars.$border-width-xxs;
  border-radius: vars.$border-radius-md;
  background-color: vars.$white;
  color: vars.$black;
  height: vars.$height-sm;
  width: vars.$width-xxxxxl;
  padding: vars.$spacing-padding-xl vars.$spacing-padding-xxl;

  &:hover {
    background-color: vars.$bg-light-gray;
    color: vars.$black;
  }

}