@use 'variables' as vars;

@mixin input {
    height: vars.$height-sm;
    border: 0.0625rem solid vars.$border-color;
    border-radius: vars.$border-radius-sm;
    color: vars.$text-color-gray;
    background-color: vars.$white;
    font-size: vars.$font-size-base;
}

@mixin buttons {
    height: vars.$height-sm;
    color: vars.$white;
    font-size: vars.$font-size-base;
    border-radius: vars.$border-radius-sm;
}

@mixin buttons-administration {
    background-color: vars.$white;
    color: vars.$black;

    height: vars.$height-sm;
    border-radius: vars.$border-radius-sm;
    border-color: vars.$border-color;
    border-width: vars.$border-width-xxs;

    &:hover {
    background-color: vars.$bg-light-gray;
    color: vars.$black;
  }
}
