// Primary color
$primary-color-carads-light: #E5231C; //lys rød
$primary-color-carads-dark: #991624; //mørkerød

// Secondary color
$white: #FFFFFF;
$black: #000000;

// Text color
$text-color-black: #000000;
$text-color-white: #FFFFFF;
$text-color-gray: #444444;

$btn-color-dark:#333333;
$btn-color-hover:#364153;

// Colors
$bg-white: #FFFFFF;
$bg-ultra-light-gray: #F6F6F6;
$bg-light-gray: #E6E6E6;

$bg-navigation-gray: #D9D9D9;

$table-color-first: #F7F9FA;
$table-color-last: #FFFFFF;

$icon-color-nav: #FFFFFF;
$icon-color-tooltip: #000000;
$icon-color-positive: #00BD7E;
$icon-color-warning: #FFD700;
$icon-color-negative: #FF2159;
$icon-color-infomation: #1A76D2;

// Borders and Shadows
$border-color: #E4E6EB;
$border-width-xxs: 0.0625rem; // 1px
$border-width-xs: 0.375rem; // 6px

$box-shaddow: rgba(228, 230, 235, 0.75);
$box-shaddow-dark:rgba(0, 0, 0, 0.4);

// Spacing margin
$spacing-margin-xs: 0.375rem; // 6px
$spacing-margin-sm: 0.75rem; // 12px
$spacing-margin-md: 1.125rem; // 18px
$spacing-margin-lg: 1.5rem; // 24px
$spacing-margin-xl: 1.875rem; // 30px
$spacing-margin-xxl: 3rem; // 48px
$spacing-margin-xxxl: 6rem; //96px

$spacing-margin-sm-minus: -0.75rem;

// Spacing padding
$spacing-padding-xs: 0.375rem; // 6px
$spacing-padding-sm: 0.75rem; // 12px
$spacing-padding-md: 1.125rem; // 18px
$spacing-padding-lg: 1.5rem; // 24px
$spacing-padding-xl: 1.875rem; // 30px
$spacing-padding-xxl: 3rem; // 48px

// Gap i rem
$spacing-gap-xs: 0.375rem; // 6px
$spacing-gap-sm: 0.75rem; // 12px
$spacing-gap-md: 1.125rem; // 18px
$spacing-gap-lg: 1.5rem; // 24px
$spacing-gap-xl: 1.875rem; // 30px
$spacing-gap-xxl: 2.625rem; //42px
$spacing-gap-xxxl: 3rem; // 48px

// Font sizes
$font-size-sm: 0.75rem; // 12px
$font-size-base: 0.875rem; // 14px
$font-size-md: 1.3rem; // 20px
$font-size-lg: 1.5rem; // 24px

// Font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;

// Border radius
$border-radius-sm: 0.3125rem; // 5px
$border-radius-md: 0.625rem; // 10px

// Widths
$width-xs: 0.375rem; // 6px
$width-sm: 0.75rem; // 12px

$width-xxxl: 7.5rem; //120 px
$width-xxxxl: 10rem; // 160px
$width-xxxxxl: 12rem; // 192px

// Height
$height-xs: 1.875rem; //30px
$height-sm: 2.25rem; //36px

// Icon size
$icon-size-sm: 0.9rem;    // 15px
$icon-size-md: 1.1rem;    // 18px
$icon-size-lg: 1.5rem;  // 24px