@use './abstracts/variables' as vars;

.view {
   display: flex;
  
   &__page {
       border: 0.0625rem solid vars.$border-color;
       border-radius: vars.$border-radius-sm;
       margin: vars.$spacing-margin-md;
       padding: vars.$spacing-padding-md;
   }
}