// Abstracts
@use './abstracts/variables';

// Base
@use './base/typography';

// Components
@use './components/icon';
@use './components/car-boost-graph';
@use './components/car-boost-table';
@use './components/sale-choose-company';
@use './components/sale-table';
@use './components/settings-navigation';
@use './components/notification-settings-comp';
@use './components/base-table';
@use './components/tooltip';

@use './components/modals/confirmation-modal';
@use './components/modals/show-customer-car-boost-modal';

@use './components/dashboard/conversions-data-budget';
@use './components/dashboard/conversions-data-cars';
@use './components/dashboard/latest-customer-changes';
@use './components/dashboard/mdk-media-overview';
@use './components//dashboard/latest-customer-changes-content';

@use './components/filter/calendar-comp';
@use './components/filter/customer-name';
@use './components/filter/search-bar';
@use './components/filter/dropdown';

@use './components/navigation/breadcrumbs-comp';
@use './components/navigation/navigation-comp';
@use './components/navigation/pagination-comp';
@use './components/navigation/notification-bell';
@use './components/navigation/notification-comp';



// Pages
@use './pages/administration-view';
@use './pages/car-boost-view';
@use './pages/customer-changes';
@use './pages/dashboard-view';
@use './pages/login-view';
@use './pages/sales-view';
@use './pages/notification-settings';

// mixin
@use './abstracts/mixins';

//app
@use './app';