name: Build and Deploy to Plesk

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20'

    - name: Install dependencies
      run: npm install

    - name: Build project
      run: npm run build

    - name: Trigger Plesk Webhook
      uses: fjogeleit/http-request-action@v1
      with:
        url: https://focused-robinson.167-99-141-56.plesk.page:8443/modules/git/public/web-hook.php?uuid=6e520042-7ed1-4d33-bc61-0aa1e21dc114
        method: POST
